<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }
        th {
            background-color: #514e4e;
        }
        .weekend {
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <h1>{{ month }} {{ year }}</h1>
    <table>
        <tr>
            <th>Sunday</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
            <th>Sat</th>
        </tr>
        {% for week in calendar %}
            <tr>
                {% for day in week %}
                    {% if day == 0 %}
                        <td></td>
                    {% else %}
                        {% if loop.index == 1 or loop.index == 7 %}
                            <td class="weekend">{{ day }}</td>
                        {% else %}
                            <td>{{ day }}</td>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>
